<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Font Awesome Icons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    i {
      padding: 0px 0px 0px 7px;
    }

    button {
      font-size: 18px;
      padding: 0px 10px 0px 10px;
      background-color: #FFFFFFFF;
      color: red;
    }
  </style>

  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">

<header>
    <% include ../views/partials/_header %>
</header>



  <a href="/urls/new">Create New Tiny URL</a>

  <table class="table">
      <% for (var shortURL in urls) { %>
      <tr>

          <form method="POST" action="<%= shortURL %>/delete">

          <td><%= shortURL %>

          <!-- ARROW  -->
          <span style='font-size:30px;'>&#8594;</span>
          </td>

          <td><a class="col-sm-4" href="<%= urls[shortURL]%>"><%= urls[shortURL] %></a>
          </td>

          <td><a href="/urls/<%= shortURL%>">Edit</a>
          </td>

          <td><button >Delete<i class="fa fa-trash-o"></i></button>
          </td>

          </form>
      </tr>

      <% }; %>

  </table>

</body>
</html>